.contactContainer{
    width: 80%;
    height: 100%;
    display: flex;
    margin-left: 9%;
    gap: 15%;
    margin-top: 40px;
}
.form{
    display: flex; 
    flex-direction: column;
    width: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    gap: 10px;
}
.mapRight{
    width: 50%;

}
.allInputs{
     margin: 15px ;
    
}
.nameAndMailContainer{
    display: flex;
    width: 100%;
   
}
.nameInput,.mailInput{
    width: 50%;
    margin: 5px;
}
.col-auto{
    margin: 5px;
}

.hederContact{
display: flex;
position: relative;
color: #1c494c;
font-size: 40px;
font-family: sans-serif;
width: 70%;
width: 80%;
justify-content: left;
align-items: flex-start;
transition: all 0.3s ease-out;
margin-left: 9%;  
margin-top: 50px;

}
.col-12{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
flat-button span.text:after {
    content: "";
    width: 4px;
    height: 4px;
    right: 0;
    bottom: 0;
    background: #08fdd8;
    position: absolute;
    -webkit-transition: 0.3s ease-out all;
    -o-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
    z-index: 5;
}