.mainAbout{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.headerAbout{
    position: relative;
    color: #1c494c;
    font-size: 60px;
    font-family: sans-serif;
    width: 70%;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.pagAbout{
    font-size: 20px;
    color: #1c494c;
    font-family: sans-serif;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.lineAbout{

}