.main{
    display: flex;
    width: 89%;
    margin-top: 3%;
    margin-left:9%;
  
}
.mainAbout{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* margin-left: 9%; */
}

.headerAbout{
    position: relative;
    color: #1c494c;
    font-size: 60px;
    font-family: sans-serif;
    width: 70%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Merienda', cursive;
}
.headerAbout::before{
    content: "";
    border-bottom: solid 2px #74cadc;
position:absolute;
width: 20%;
bottom: 24px;
}
.pagAbout{
    font-size: 20px;
    color: #1c494c;
    font-family: sans-serif;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.picAbout{
    display: flex;
    background-image: url("../../../img/picAbouut.png");
    background-size: inherit;
    width: 40%;
    background-repeat: no-repeat;
    height: 500px;
}