.main{
    display: flex;
    width: 89%;
    margin-top: 2%;
    margin-left:9%;
  
}
.mainAbout{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* margin-left: 9%; */
}
.headerrrrr {
    display: flex;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: -8px;
  }
  
  .headerrrrr div {
    margin: 0.3rem;
    position: relative;
    transform-origin: center;
  }
  .headerrrrr div:nth-of-type(1) {
    animation: animP 2s cubic-bezier(0.17, 0.58, 0.37, 0.88) infinite
      alternate-reverse;
  }
  .headerrrrr div:nth-of-type(2) {
    animation: animP 2s cubic-bezier(0.17, 0.58, 0.37, 0.88) 0.2s infinite
      alternate-reverse;
  }
  .headerrrrr div:nth-of-type(3) {
    animation: animP 2s cubic-bezier(0.17, 0.58, 0.37, 0.88) 0.35s infinite
      alternate-reverse;
  }
  .headerrrrr div:nth-of-type(4) {
    animation: animP 2s cubic-bezier(0.17, 0.58, 0.37, 0.88) 0.5s infinite
      alternate-reverse;
  }
  .headerrrrr div:nth-of-type(5) {
    animation: animP 2s cubic-bezier(0.17, 0.58, 0.37, 0.88) 0.65s infinite
      alternate-reverse;
  }
  .headerrrrr div:nth-of-type(6) {
    animation: animP 2s cubic-bezier(0.17, 0.58, 0.37, 0.88) 0.8s infinite
      alternate-reverse;
  }
  .headerrrrr div:nth-of-type(7) {
    animation: animP 2s cubic-bezier(0.17, 0.58, 0.37, 0.88) 0.8s infinite
      alternate-reverse;
  }
  .headerrrrr div:nth-of-type(8) {
    animation: animP 2s cubic-bezier(0.17, 0.58, 0.37, 0.88) 0.8s infinite
      alternate-reverse;
  }
  .headerrrrr div:nth-of-type(9) {
    animation: animP 2s cubic-bezier(0.17, 0.58, 0.37, 0.88) 0.8s infinite
      alternate-reverse;
  } .headerrrrr div:nth-of-type(10) {
    animation: animP 2s cubic-bezier(0.17, 0.58, 0.37, 0.88) 0.8s infinite
      alternate-reverse;
  } .headerrrrr div:nth-of-type(11) {
    animation: animP 2s cubic-bezier(0.17, 0.58, 0.37, 0.88) 0.8s infinite
      alternate-reverse;
  }
  
  .headerrrrr div::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to left,white, 90%, transparent);
  }
  
  .headerrrrr div:nth-of-type(1)::after {
    animation: animAfter 2s cubic-bezier(0.17, 0.58, 0.37, 0.88) infinite
      alternate-reverse;
  }
  .headerrrrr div:nth-of-type(2)::after {
    animation: animAfter 2s cubic-bezier(0.17, 0.58, 0.37, 0.88) 0.2s infinite
      alternate-reverse;
  }
  .headerrrrr div:nth-of-type(3)::after {
    animation: animAfter 2s cubic-bezier(0.17, 0.58, 0.37, 0.88) 0.35s infinite
      alternate-reverse;
  }
  .headerrrrr div:nth-of-type(4)::after {
    animation: animAfter 2s cubic-bezier(0.17, 0.58, 0.37, 0.88) 0.5s infinite
      alternate-reverse;
  }
  .headerrrrr div:nth-of-type(5)::after {
    animation: animAfter 2s cubic-bezier(0.17, 0.58, 0.37, 0.88) 0.65s infinite
      alternate-reverse;
  }
  .headerrrrr div:nth-of-type(6)::after {
    animation: animAfter 2s cubic-bezier(0.17, 0.58, 0.37, 0.88) 0.8s infinite
      alternate-reverse;
  }
  .headerrrrr div:nth-of-type(7)::after {
    animation: animAfter 2s cubic-bezier(0.17, 0.58, 0.37, 0.88) 0.8s infinite
      alternate-reverse;
  }
  .headerrrrr div:nth-of-type(8)::after {
    animation: animAfter 2s cubic-bezier(0.17, 0.58, 0.37, 0.88) 0.8s infinite
      alternate-reverse;
  }
  .headerrrrr div:nth-of-type(9)::after {
    animation: animAfter 2s cubic-bezier(0.17, 0.58, 0.37, 0.88) 0.8s infinite
      alternate-reverse;
  }
  .headerrrrr div:nth-of-type(10)::after {
    animation: animAfter 2s cubic-bezier(0.17, 0.58, 0.37, 0.88) 0.8s infinite
      alternate-reverse;
   } .headerrrrr div:nth-of-type(11)::after {
    animation: animAfter 2s cubic-bezier(0.17, 0.58, 0.37, 0.88) 0.8s infinite
      alternate-reverse;
  }
  
  
  @keyframes animAfter {
    from {
      height: 100%;
    }
    to {
      height: 10%;
    }
  }
  
  @keyframes animP {
    from {
      color: white;
      transform: rotateX(90deg);
    }
    to {
      /* color: rgb(177, 169, 169); */
      color: #0f1b61;;
      transform: rotateX(0deg);
    }
  }
  
  /* a,
  a:link,
  a:visited {
    font-size: 1.5rem;
    margin-top: 2rem;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
     background-color: rgb(36, 36, 36); 
    border-radius: 3rem;
    letter-spacing: 2px;
  } */
  
.headerAbout{
    position: relative;
    color: #1c494c;
    font-size: 60px;
    font-family: sans-serif;
    width: 70%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Merienda', cursive;
}
.headerAbout::before{
    content: "";
    border-bottom: solid 2px #74cadc;
position:absolute;
width: 20%;
bottom: 24px;
}
.pagAbout{
    font-size: 30px;
    color: #1c494c;
    font-family: sans-serif;
    width: 70%;
    justify-content: center;
    align-items: center;
    line-height: 1.9;
}
.picAbout{
    display: flex;
    /* background-image: url("../../../img/"); */
    background-size: inherit;
    width: 40%;
    background-repeat: no-repeat;
    height: 500px;
}