.col{
width: 100%;
display: flex;
height: 80vh;
}
.skillsPargraph{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 50px;
    margin-left:9%;

}
.skillsPargraph h3{
    position: relative;
    color: #0f1b61;
    font-size: 80px;
    font-family: 'Dancing Script', cursive;

    width: 70%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.skillsPargraph p{
    margin-top: 20px;
width: 70%;
color: #1c494c;
font-size: 20px;
}
.tagcloud{
    font-size: 24px;
    font-weight: 600;
}
.content{
    width: 50%;
justify-content: end;
}