
.container{
     margin-top: 50px;
}
.menuList{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.offcanvas .offcanvas-top .show{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 92%;
    margin: 2%;
    /* background-color:lightpink; */
    background-image: url(../../../img/Jaipur.jpg);
    background-size: cover;
}
.offcanvas.show:not(.hiding), .offcanvas.showing {
  transform: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 92%;
  margin: 2%;
  /* background-color:lightpink; */
  background-image: url(../../../img/Jaipur.jpg);
  background-size: cover;
  
}
.navBar{
    display: flex;
    flex-direction: column;
line-height: 70px;
z-index: 2000;  
}
.allMenuList{
    /* margin-left: 30px; */
}
.offcanvas-title{
    display: flex;
    flex-direction: column;
line-height: 80px;
}
.closeButton{
    display: flex;
    position:absolute;
    top: -30px;
    left: -125px;
    z-index: 2000;  
    width: 60px;
    height: 60px;
}
.closeButton span svg{
font-size: 100px;
margin-top: 2%;
font-size: 50px;
color: black;
}
.socialInfo{
    display: flex;
    gap: 24%;
    z-index: 2000; 
    margin-left: 100%;
    width: 100%;
    position: relative;
    align-items: center;
}
.socialInfo::before{
    content: "";
border-bottom: 5px solid black;
position: absolute;
width: 72%;
bottom: 42%;
left: -99%;
}
.offcanvas-header{
    padding: 50px;
    display: flex;
    font-size: 2.5em;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    color: #0f1b61;
    font-family: 'Merienda', cursive;
}

a {
  color: #0f1b61;
  color: #0f1b61;
  text-decoration: none;

}
.menuLine{
    font-size: 20px;
}

.imgClose{
    border: none;
}

.area{
    /* background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);   */
    /* width: 100%; */
    /* height:100vh; */
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}