
.container{
     margin-top: 50px;
     /* z-index:1047; */
}
.offcanvas .offcanvas-top .show{
    height: 92%;
    margin: 2%;
    background-color:#9bdabe;
}
.offcanvas.show:not(.hiding), .offcanvas.showing {
  transform: none;
  height: 92%;
  margin: 2%;
  background-color:#9bdabe;
  
}
.navBar{
    display: flex;
    flex-direction: column;
line-height: 70px;
}

.offcanvas-title{
    display: flex;
    flex-direction: column;
line-height: 80px;
}
.closeButton{
    display: flex;
    justify-self: start;
    margin-left: 50px;

}

.socialInfo{
    display: flex;
    gap: 20%;
}
.offcanvas-header{
    padding: 50px;
    display: flex;
    font-size: 2.5em;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    color: #0f1b61;
}
a {
  color: #0f1b61;
  text-decoration: none;
}
.menuLine{
    font-size: 20px;
}