
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Dancing+Script:wght@500&family=Merienda&display=swap');

.mainPage{
    width: 91%;
    height: 89vh;
    display: flex;
    margin-top: 2vh;
    margin-left: 9%;
    height: calc(100vh-50px);
    background-color: rgba(255,255,255,1.00);
  overflow: hidden;
}
.info{
    margin-top: 80px;
    width: 60%;
font-size: 50px;
font-weight: 600;
color: #0f1b61;
font-family: 'Dancing Script', cursive;

  
}

.picInfo{
    width: 40%;
    background-image: url(../../../img/ffffff.jpg);
    background-repeat: no-repeat;
    height: 75%;
    background-size: contain;
 
    
}
.info h1{
    font-size: 90px;
}
.info h4{
    font-size:50px;
}